#!/usr/bin/env python

from kazoo.client import KazooClient
import time
import sys

zk = KazooClient(hosts="{{ ansible_default_ipv4.address }}:2191,{{ ansible_default_ipv4.address }}:2192")

zk.start()

zk.ensure_path("/training/gemini/update")

zk.create("/training/gemini/state", value="connected", ephemeral=True)

while True:
  try:
    time.sleep( 5 )
    zk.set("/training/gemini/update", value="making changes", version=-1)
  except (KeyboardInterrupt, SystemExit):
    zk.stop()
    sys.exit()
